/* blue; rgb(49,97,244) */
/* generics */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
}

/* utils */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.col.w-20 {
    width: 20%;
}

.col.w-35 {
    width: 35%;
}

.col.w-60 {
    width: 60%;
}

.col.w-65 {
    width: 65%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.btn {
    border-radius: 40px;
    text-decoration: none;
}

.btn.btnwhite {
    color: #23272a;
    background-color: #fff;
}

.btn.btnblack {
    color: #fff;
    background-color: #23272a;
}

.btn.btnsmall {
    font-size: 14px;
    padding: 5px 10px;
}

.btn.btnbig {
    font-size: 18px;
    padding: 15px 25px;
}

h2{
    font-size: 54px;
}

/* header */

header {
    color: #fff;
    background-color: rgb(49,97,244);
    margin-bottom: 150px;
}

header .topbar {
    height: 80px;
    line-height: 80px;
}

header .jumbotron {
    height: 550px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    padding-top: 100px;
}

#logo {
    vertical-align: middle;
}

.topbar .topmenu,
.topbar .topmenu li {
    display: inline-block;
    font-size: 14px;
}

.topbar .topmenu li{
    margin: 0 20px;
}

.topbar .topmenu a {
    color: #fff;
    text-decoration: none;
}

.topmenu a:hover{
    text-decoration: underline;
}

div.btn {
    display: inline-block;
}

.jumbotron p {
    font-size: 18px;
    margin: 50px 230px 30px 230px;
}

.btnwhite.btnbig{
    margin-right: 30px;
}

p{
    line-height: 1.6em;
    margin-top: 30px;
    text-align: left;
}

/* main */
main {
    color: #23272a;
}

section {
    padding-bottom: 100px;
    display: inline-block;
}

.bgwave {
    background-image: linear-gradient(rgba(255,255,255,0.95), rgba(255,255,255,0.95)), url(../img/wave.svg);
    background-size: cover;
    background-repeat: repeat-y;
    width: 100%;
    padding-top: 300px;
    margin-bottom: 200px;
}

.title {
    text-align: left;
}

/* footer */
footer {
    background-color: #23272a;
}